* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: #ffffff;
    --prp-1: #7165b1;
    --prp-2: #322964;
    --prp-3: #2c2b5c;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    margin: 0 !important;
}

.copyright-section p {
    text-align: center;
    color: var(--prp-3);
    font-size: 12px;
    font-weight: 600;
}
.home-section{
    background-color: var(--prp-2);
}

.leftbar-section {
    background-color: var(--prp-2);
    height: 85vh;
}

.mainbar-section {
    background-color: var(--prp-1);
    height: 85vh;

}

.bottombar-section {
    height: 15vh;
    background-color: var(--prp-1);
}