* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFAFA;
    --dark: #15111e;
    --prp-1: #7165b1;
    --prp-2: #322964;
    --prp-3: #2c2b5c;
    --grey: #686868;
    --grey2: #a3a3a3;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    margin: 0 !important;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #222;
}

h6 {
    font-size: 15px;
    font-weight: 600;
    color: #222;
}

p {
    font-size: 1rem;
    font-weight: 500;
}

.copyright-section p {
    text-align: center;
    color: var(--prp-3);
    font-size: 12px;
    font-weight: 600;
}

.home-section {
    background-color: var(--prp-2);
}

.leftbar-section {
    background-color: #FFFAFA;
    height: 100vh;
    text-align: start;
    padding: 0 2rem;
}

.mainbar-section {
    background-color: #f4f5fe;
    height: 100vh;
    padding: 0 2rem;

}

.rightbar-section {
    padding: 0 2rem;
    height: 100vh;
    background-color: #f4f5fe;
}

.icon-container {
    padding: 12px 10px;
    background-color: var(--white);
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
}

.icon-container svg {
    font-size: 20px;
    color: var(--grey);
    margin-right: 10px;
}

.icon-container p {
    color: var(--grey);
    font-size: 1rem;
}

.icon-container:hover {
    background-color: #222;
    cursor: pointer;
    color: var(--grey2);
}

.icon-container:hover p,
svg {
    color: #FFFAFA;
}

.icon-section-name {
    color: var(--grey);
    padding: 6px 10px;
}

.icon-section-name p {
    font-size: 12px;
}

.hrLine {
    color: var(--grey);
}

.curr-playing-song-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.curr-playing-song-container svg {
    color: #222;
    font-size: 22px;
    font-weight: 700;
}

.curr-playing-song-container img {
    width: 4rem;
    height: 4rem;
    border-radius: 5rem;
}

.search-bar {
    width: 100%;
    height: auto;
    min-height: 3rem;
    max-width: 70rem;
    display: flex;
    align-items: center;
    background: var(--white);
    border-radius: 3rem;
    border: 0;
}

.search-bar input {
    outline: none;
    border: none;
}

.search-bar svg {
    color: var(--grey);
}

.fire-emoji {
    padding-left: 10px;
    font-size: 16px;
}

.music-table th {
    border: unset;
    padding: 8px 18px;
}

.music-table td {
    border: unset;
    padding: 12px 18px;
}

.music-table tr {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: unset;
}

.music-table tr:hover {
    background-color: var(--white);
    border-radius: 5px;
}


.player-icon-container svg {
    color: #222;
    font-size: 20px;
}

.player-controller {
    background-color: var(--white);
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
}

.icon-part-1 svg {
    color: var(--grey2);
    background-color: #dddff3;
    font-size: 25px;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px;
    cursor: pointer;
}

.player-ranger {
    margin-top: 20px;
}

.icon-part-2 svg {
    padding: 0 5px;
    font-size: 30px;
}

.icon-part-3 svg {
    color: var(--grey2);
    font-size: 20px;
}

.repeat-icon,
.shuffle-icon {
    color: var(--grey2);
    font-size: 20px;
}

.range-slide {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: transparent;
    border: none;
    outline: none;
}

svg {
    cursor: pointer;
}

.icon-part-1,
.icon-part-3 {
    max-width: 8rem;
}

.navigation-icons {
    width: 15%;
}

.navigation-icons svg {
    font-size: 25px;
    color: var(--dark);
}

.shortcut-items {
    padding: 8px 12px;
    background-color: white;
    border-radius: 3rem;
    width: 8rem;
    height: 2.4rem;
    margin: 8px 0;
    cursor: pointer;
    overflow: hidden;
}

.fav-artist-img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 60%;
}

.fav-artist-name p {
    font-size: 0.7rem;
    color: var(--grey2);
}

.fav-artist-container {
    margin-top: 5px;
}

.curr-play-image img {
    width: 100%;
    border-radius: 1rem;
    width: 100%;
    border-radius: 1rem;
    height: 200px;
    object-fit: cover;
}

.currently-playing-song-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 1rem;
    position: relative;
    margin: 1rem 0;
}

.curr-play-details {
    padding-top: 1.5rem;
}

.curr-play-details p {
    color: var(--grey2);
    font-size: 0.7rem;
}
























/*Input range styles*/
input[type=range] {
    height: 5px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 1px #000000;
    background: #15111E;
    border-radius: 7px;
    border: 1px solid #15111E;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 3px #15111E;
    border: 3px solid #15111E;
    height: 16px;
    width: 16px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #15111E;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 1px #000000;
    background: #15111E;
    border-radius: 7px;
    border: 1px solid #15111E;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 3px #15111E;
    border: 3px solid #15111E;
    height: 16px;
    width: 16px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #15111E;
    border: 1px solid #15111E;
    border-radius: 14px;
    box-shadow: 0px 0px 1px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #15111E;
    border: 1px solid #15111E;
    border-radius: 14px;
    box-shadow: 0px 0px 1px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 3px #15111E;
    border: 3px solid #15111E;
    height: 16px;
    width: 16px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #15111E;
}

input[type=range]:focus::-ms-fill-upper {
    background: #15111E;
}


.fav-artist-section {
    max-height: 15em;
    overflow: hidden;   
}